.survey {
  padding: 140px 100px 50px;

  &__title {
    font-size: 60px;
    font-weight: 600;
    line-height: 110%;
    letter-spacing: 1.8px;
    margin: 10px 0;
  }

  &__note {
    font-size: 26px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 1.3px;
    margin-bottom: 60px;
  }

  &__question {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  
    &-title {
      font-size: 30px;
      line-height: 130%;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
    }
  }

  &__option {
    font-size: 24px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 1.2px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    position: relative;
    max-width: max-content;
    cursor: pointer;

    &::after {
      display: block;
      content: '';
      background: transparent;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all 0.3s ease;
      position: absolute;
      left: -8px;
    }

    &:hover::after {
      background: rgba(58, 58, 58, 0.04);
    }

    &:active::after,
    &:focus::after,
    &:focus-visible::after,
    &:focus-within::after {
      background: rgba(38, 134, 100, 0.04);
    }
  }

  &__radio-checked {
    z-index: 1;
    margin-right: 10px;

    & path {
      transition: all 0.3s ease;
    }

    input[type='radio']:checked + & path {
      fill: #268664;
    }

    .invalid &.empty path:first-of-type {
      fill: #a51f1f;
    }

    .invalid &.empty path:last-of-type {
      fill: transparent;
    }
  }

  &__btn {
    margin: 40px 0 0 100px;
  }
}

.form {
  &__fields {
    display: flex;
    flex-wrap: wrap;
    width: 870px;
    padding: 0 100px;

    &-wrap {
      padding: 100px 0;
      background: #F4F9F7;
      margin-bottom: 300px;
    }

    @media screen and (max-width: 1440px) {
      width: 476px;
      margin: 35px 0;
    }
  }

  &__field-wrap {
    width: calc((100% - 10px) / 2);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;

    @media screen and (max-width: 1440px) {
      width: calc((100% - 7px) / 2);
      margin-bottom: 7px;
    }

    &:nth-of-type(2n) {
      margin-left: 10px;

      @media screen and (max-width: 1440px) {
        margin-left: 7px;
      }
    }

    &:last-of-type {
      width: 100%;
    }
  }

  &__label {
    font-size: 18px;
    font-weight: 300;
    line-height: 130%;
    letter-spacing: 0.36px;
    display: inline-block;
    margin-bottom: 5px;

    @media screen and (max-width: 1440px) {
      font-size: 12px;
      letter-spacing: 0.24px;
      margin-bottom: 3px;
    }
  }

  &__note {
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    margin-top: 5px;
    animation: fadeIn 0.3s ease-in;

    @media screen and (max-width: 1440px) {
      font-size: 11px;
      margin-top: 3px;
    }
  }

  &__message {
    resize: none;
    min-height: 112px;

    @media screen and (max-width: 1440px) {
      min-height: 80px;
    }
  }
}

.spinner {
  border: 7px solid #f4f9f7;
  border-radius: 50%;
  border-top: 7px solid rgba(38, 134, 100, 0.5);
  animation: spin 1s linear infinite;
  width: 53px;
  height: 53px;
  margin: 40px 0 0 100px;

  @media screen and (max-width: 744px) {
    width: 43px;
    height: 43px;
    border-width: 6px;
    margin-top: 40px;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}