.header {
  padding: 54px 100px 300px;
  position: relative;

  @media screen and (max-width: 1440px) {
    padding: 38px 71px 0 71px;
    height: 100vh;
  }

  &-section {
    border-radius: 0 0 10px 10px;
    background: #f4f9f7;

    @media screen and (max-width: 1440px) {
      border-radius: 0 0 7px 7px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 204px;

    @media screen and (max-width: 1440px) {
      margin-bottom: calc((100vh - 168px) / 2 - 55px);
    }
  }

  &__title {
    color: #268664;
    font-size: 100px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 3px;
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
      font-size: 70px;
      letter-spacing: 2.1px;
    }
  }
}

.language {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 56px;
  right: 170px;
  max-height: 17px;
  overflow: hidden;
  transition: max-height 0.2s;

  @media screen and (max-width: 1440px) {
    top: 40px;
    right: 120px;
    max-height: 12px;
  }

  &.opened {
    max-height: 200px;
  }

  &__selected {
    display: flex;
    width: 45px;
    justify-content: space-between;

    @media screen and (max-width: 1440px) {
      width: 32px;
    }
  }

  &__value {
    color: #b0b0b0;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    @media screen and (max-width: 1440px) {
      font-size: 10px;
      letter-spacing: 0.498px;
    }

    &.not-selected {
      color: #fff;
    }
  }

  &__arrow {
    transition: transform 0.2s;

    @media screen and (max-width: 1440px) {
      width: 11px;
      height: 11px;
    }

    .opened & {
      transform: rotate(180deg);
    }
  }

  &__variants {
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 1440px) {
      padding: 5px 10px;
    }

    & .language__value {
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.burger {
  cursor: pointer;

  &__bar {
    width: 30px;
    height: 4px;
    border-radius: 47px;
    background: #000;
    margin-top: 5px;

    @media screen and (max-width: 1440px) {
      width: 21px;
      height: 3px;
      margin-top: 3px;
    }

    &:first-of-type {
      margin-top: 0;
    }
  }
}
